body{
  text-align: center;
  place-items: center;
  background-color: rgb(235, 234, 234);
}
.Choice-button{
 height: 100px;
 width:  100px;
 margin: 10px;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 background-color: rgb(204, 250, 136);
 transition: background-color 0.3s;
}
.Choice-button:hover {
  background-color: skyblue; 
  transform: scale(1.1); 
}
.Choice-images{
  height: 90px;
  width:  90px;
  object-fit: cover;  
}
.reset{
  background-color:  rgb(204, 250, 136);
  height: 30px;
 width:  100px;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 transition: background-color 0.3s;
}
.reset:hover {
  background-color: skyblue; 
  transform: scale(1.1); 
}
.container{
  margin-top: 50px;
  padding-top: 10px;
  align-items: center;
  border: 2px solid black;
  width: 500px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
background-color: white;
}